@use "../Base/typography";
//font 
$primary-font : Poppins;

//reponsive
$mobile-small: 15em;
$mobile-small-max: 20em;
$mobile-medium-max: 26.9375em;
$tablet-small-max: 48em;
$tablet-max: 64.0625em;

//color
$first-color: #A8AEBF;
$second-color:#C3C8D4;
$thirdth-color: #EBEEF5;
$fourth-color: #8E95A9;
$fifth-color:#9C92F8;
$sixth-color:#EBE9FE;
$seventh-color:#767E94;
$eighth-color:#FFAD49;
$nineth-color:#ebeef5;
$background : #121829;
$second-background-color:rgba(0, 0, 0, 0.65);
$thirdth-background-color:rgba(32, 40, 62, 0.8);
$rectangle: #121829;
$input: rgba(0, 0, 0, 0.10);
$boder-input: #323B54;
$placeholder-input: #475069;
$text-input: #909298;
$text-button: #FFF;
$first-button: #7769f1;
