@use '../Abstract' as *;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: $primary-font;
  font-weight: 400;
}

#root {
  max-width: 1218px;
  overflow: hidden;
  margin: 0 auto;
}
